


:root {
    --web-view-ids: Dashboard_Interface_Look__Feel;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Dashboard_Interface_Look__Feel {
    position: absolute;
    width: 1600px;
    height: 960px;
    background-color: rgba(240,240,247,1);
    overflow: hidden;
    --web-view-id: Dashboard_Interface_Look__Feel;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
#Overview {
    left: 335px;
    top: 101px;
    position: absolute;
    overflow: visible;
    width: 111px;
    white-space: nowrap;
    line-height: 40px;
    margin-top: -6px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(67,66,93,1);
}
#Navbar {
    position: absolute;
    width: 1340px;
    height: 70px;
    left: 260px;
    top: 0px;
    overflow: visible;
}
#NavbarBG {
    fill: rgba(255,255,255,1);
}
.NavbarBG {
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
    position: absolute;
    overflow: visible;
    width: 1358px;
    height: 88px;
    left: 0px;
    top: 0px;
}
#User_Menu {
    position: absolute;
    width: 127px;
    height: 38px;
    left: 1193px;
    top: 16px;
    overflow: visible;
    --web-animation: fadein 0.4s ease-out;
    --web-action-type: page;
    --web-action-target: Dashboard_Interface_4.html;
    cursor: pointer;
}
#Username {
    left: 0px;
    top: 11px;
    position: absolute;
    overflow: visible;
    width: 53px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: rgba(77,79,92,1);
}
#Avatar {
    position: absolute;
    width: 38px;
    height: 38px;
    left: 89px;
    top: 0px;
    overflow: visible;
}
#small-down {
    position: absolute;
    width: 11px;
    height: 7px;
    left: 67px;
    top: 16px;
    overflow: visible;
}
#Trac_26 {
    fill: rgba(164,175,183,1);
}
.Trac_26 {
    overflow: visible;
    position: absolute;
    width: 11px;
    height: 7px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Divider {
    fill: rgba(235,235,242,1);
}
.Divider {
    position: absolute;
    overflow: visible;
    width: 1px;
    height: 28px;
    left: 1171px;
    top: 21px;
}
#Notification {
    position: absolute;
    width: 19px;
    height: 21px;
    left: 1135px;
    top: 22px;
    overflow: visible;
    --web-animation: fadein 0.4s ease-out;
    --web-action-type: page;
    --web-action-target: Dashboard_Interface_2.html;
    cursor: pointer;
}
#Notification_Icon {
    fill: rgba(188,188,203,1);
}
.Notification_Icon {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 5px;
    transform: matrix(1,0,0,1,0,0);
}
#Notification_Badge {
    fill: rgba(255,192,106,1);
    stroke: rgba(255,255,255,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Notification_Badge {
    position: absolute;
    overflow: visible;
    width: 12px;
    height: 12px;
    left: 11px;
    top: 0px;
}
#Chat_Icon {
    fill: rgba(188,188,203,1);
}
.Chat_Icon {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 15.999px;
    left: 1089px;
    top: 27px;
    transform: matrix(1,0,0,1,0,0);
}
#Support_Iocn {
    fill: rgba(188,188,203,1);
}
.Support_Iocn {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 1043px;
    top: 27px;
    transform: matrix(1,0,0,1,0,0);
}
#Search_Input {
    position: absolute;
    width: 224px;
    height: 18px;
    left: 20px;
    top: 27px;
    overflow: visible;
}
#Search_transactions_invoices_o {
    left: 26px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 199px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#icon_search {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#icon_search_b {
    fill: rgba(188,188,203,1);
}
.icon_search_b {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Side_Menu {
    position: absolute;
    width: 260px;
    height: 960px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#SidebarBG {
    fill: rgba(67,66,93,1);
}
.SidebarBG {
    position: absolute;
    overflow: visible;
    width: 260px;
    height: 960px;
    left: 0px;
    top: 0px;
}
#Main_Menu {
    position: absolute;
    width: 260px;
    height: 584px;
    left: 0px;
    top: 73px;
    overflow: visible;
}
#Settings {
    position: absolute;
    width: 260px;
    height: 53px;
    left: 0px;
    top: 531px;
    overflow: visible;
}
#BG {
    fill: rgba(67,66,93,1);
}
.BG {
    position: absolute;
    overflow: visible;
    width: 260px;
    height: 53px;
    left: 0px;
    top: 0px;
}
#Settings_b {
    left: 52px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 52px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(255,255,255,1);
}
#icon_setting {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 25px;
    top: 18px;
    overflow: visible;
}
#Trac_108 {
    fill: rgba(165,164,191,1);
}
.Trac_108 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Help_Center {
    position: absolute;
    width: 260px;
    height: 53px;
    left: 0px;
    top: 472px;
    overflow: visible;
}
#BG_cc {
    fill: rgba(67,66,93,1);
}
.BG_cc {
    position: absolute;
    overflow: visible;
    width: 260px;
    height: 53px;
    left: 0px;
    top: 0px;
}
#Help_Center_cd {
    left: 52px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 75px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(255,255,255,1);
}
#icon_help-center {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 25px;
    top: 18px;
    overflow: visible;
}
#Trac_107 {
    fill: rgba(165,164,191,1);
}
.Trac_107 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Calendar {
    position: absolute;
    width: 260px;
    height: 53px;
    left: 0px;
    top: 413px;
    overflow: visible;
    --web-animation: fadein 0.4s ease-out;
    --web-action-type: page;
    --web-action-target: Calendar_1.html;
    cursor: pointer;
}
#BG_ch {
    fill: rgba(67,66,93,1);
}
.BG_ch {
    position: absolute;
    overflow: visible;
    width: 260px;
    height: 53px;
    left: 0px;
    top: 0px;
}
#Calendar_ci {
    left: 52px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 58px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(255,255,255,1);
}
#icon_calendar {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 25px;
    top: 17px;
    overflow: visible;
}
#Rectangle_557 {
    fill: transparent;
}
.Rectangle_557 {
    position: absolute;
    overflow: visible;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
}
#Trac_149 {
    fill: rgba(165,164,191,1);
}
.Trac_149 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Chat_Room {
    position: absolute;
    width: 260px;
    height: 53px;
    left: 0px;
    top: 354px;
    overflow: visible;
    --web-animation: fadein 0.4s ease-out;
    --web-action-type: page;
    --web-action-target: ChatRoom_1.html;
    cursor: pointer;
}
#BG_cn {
    fill: rgba(67,66,93,1);
}
.BG_cn {
    position: absolute;
    overflow: visible;
    width: 260px;
    height: 53px;
    left: 0px;
    top: 0px;
}
#Chat_Room_co {
    left: 52px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 70px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(255,255,255,1);
}
#icon_chat-room {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 25px;
    top: 18px;
    overflow: visible;
}
#Union_11 {
    fill: rgba(165,164,191,1);
}
.Union_11 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Customers {
    position: absolute;
    width: 260px;
    height: 53px;
    left: 0px;
    top: 295px;
    overflow: visible;
    --web-animation: fadein 0.4s ease-out;
    --web-action-type: page;
    --web-action-target: Customers.html;
    cursor: pointer;
}
#BG_cs {
    fill: rgba(67,66,93,1);
}
.BG_cs {
    position: absolute;
    overflow: visible;
    width: 260px;
    height: 53px;
    left: 0px;
    top: 0px;
}
#Customers_ct {
    left: 52px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 68px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(255,255,255,1);
}
#icon_customers {
    position: absolute;
    width: 14px;
    height: 16px;
    left: 26px;
    top: 18px;
    overflow: visible;
}
#Union_10 {
    fill: rgba(165,164,191,1);
}
.Union_10 {
    overflow: visible;
    position: absolute;
    width: 14px;
    height: 16px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Invoices {
    position: absolute;
    width: 260px;
    height: 53px;
    left: 0px;
    top: 236px;
    overflow: visible;
    --web-animation: fadein 0.4s ease-out;
    --web-action-type: page;
    --web-action-target: Invoices.html;
    cursor: pointer;
}
#BG_cx {
    fill: rgba(67,66,93,1);
}
.BG_cx {
    position: absolute;
    overflow: visible;
    width: 260px;
    height: 53px;
    left: 0px;
    top: 0px;
}
#Invoices_cy {
    left: 52px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 52px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(255,255,255,1);
}
#icon_Invoices {
    position: absolute;
    width: 14px;
    height: 16px;
    left: 26px;
    top: 18px;
    overflow: visible;
}
#Trac_102 {
    fill: rgba(165,164,191,1);
}
.Trac_102 {
    overflow: visible;
    position: absolute;
    width: 14px;
    height: 16px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Products {
    position: absolute;
    width: 260px;
    height: 53px;
    left: 0px;
    top: 177px;
    overflow: visible;
    --web-animation: fadein 0.4s ease-out;
    --web-action-type: page;
    --web-action-target: Product_1.html;
    cursor: pointer;
}
#BG_c {
    fill: rgba(67,66,93,1);
}
.BG_c {
    position: absolute;
    overflow: visible;
    width: 260px;
    height: 53px;
    left: 0px;
    top: 0px;
}
#Products_c {
    left: 52px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 57px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(255,255,255,1);
}
#icon_products {
    position: absolute;
    width: 15.999px;
    height: 15.999px;
    left: 25px;
    top: 18px;
    overflow: visible;
}
#Union_9 {
    fill: rgba(165,164,191,1);
}
.Union_9 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 15.999px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Inbox {
    position: absolute;
    width: 260px;
    height: 53px;
    left: 0px;
    top: 119px;
    overflow: visible;
    --web-animation: fadein 0.4s ease-out;
    --web-action-type: page;
    --web-action-target: Inbox_1.html;
    cursor: pointer;
}
#BG_da {
    fill: rgba(67,66,93,1);
}
.BG_da {
    position: absolute;
    overflow: visible;
    width: 260px;
    height: 53px;
    left: 0px;
    top: 0px;
}
#Inbox_c {
    left: 52px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 36px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(255,255,255,1);
}
#icon_inbox {
    position: absolute;
    width: 16px;
    height: 14px;
    left: 25px;
    top: 19px;
    overflow: visible;
}
#Trac_358 {
    fill: rgba(165,164,191,1);
}
.Trac_358 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 14px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Dashboard {
    position: absolute;
    width: 260px;
    height: 53px;
    left: 0px;
    top: 59px;
    overflow: visible;
}
#BG_dc {
    fill: rgba(67,66,93,1);
}
.BG_dc {
    position: absolute;
    overflow: visible;
    width: 260px;
    height: 53px;
    left: 0px;
    top: 0px;
}
#Dashboard_dd {
    left: 52px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 69px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(255,255,255,1);
}
#icon_dashboard {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 25px;
    top: 18px;
    overflow: visible;
}
#Union_8 {
    fill: rgba(163,160,251,1);
}
.Union_8 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Home {
    position: absolute;
    width: 260px;
    height: 53px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#BG_dh {
    fill: rgba(67,66,93,1);
}
.BG_dh {
    position: absolute;
    overflow: visible;
    width: 260px;
    height: 53px;
    left: 0px;
    top: 0px;
}
#Home_di {
    left: 52px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 39px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(255,255,255,1);
}
#icon_home {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 25px;
    top: 18px;
    overflow: visible;
}
#Trac_357 {
    fill: rgba(165,164,191,1);
}
.Trac_357 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Hover {
    position: absolute;
    width: 260px;
    height: 53px;
    left: 0px;
    top: 60px;
    overflow: visible;
}
#BG_dm {
    fill: rgba(0,0,0,0.102);
}
.BG_dm {
    position: absolute;
    overflow: visible;
    width: 260px;
    height: 53px;
    left: 0px;
    top: 0px;
}
#Vertical_Line {
    fill: rgba(163,160,251,1);
}
.Vertical_Line {
    position: absolute;
    overflow: visible;
    width: 5px;
    height: 53px;
    left: 0px;
    top: 0px;
}
#Logo {
    position: absolute;
    width: 260px;
    height: 70px;
    left: 0px;
    top: 0px;
    overflow: visible;
    --web-animation: fadein 0.4s ease-out;
    --web-action-type: page;
    --web-action-target: Dashboard_Interface__Look___Feel____2.html;
    cursor: pointer;
}
#BG_dp {
    fill: rgba(0,0,0,0.102);
}
.BG_dp {
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.051));
    overflow: visible;
    position: absolute;
    width: 269px;
    height: 79px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Logo_dq {
    left: 20px;
    top: 26px;
    position: absolute;
    overflow: visible;
    width: 101px;
    white-space: nowrap;
    line-height: 21px;
    margin-top: -3px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(255,255,255,1);
    letter-spacing: 2px;
}
#Total_Earnings {
    position: absolute;
    width: 370px;
    height: 133px;
    left: 1135px;
    top: 168px;
    overflow: visible;
}
#BG_ds {
    fill: rgba(255,255,255,1);
}
.BG_ds {
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
    position: absolute;
    overflow: visible;
    width: 388px;
    height: 151px;
    left: 0px;
    top: 0px;
}
#Bar_Chart_du {
    fill: url(#Bar_Chart_du);
}
.Bar_Chart_du {
    overflow: visible;
    position: absolute;
    width: 112px;
    height: 40px;
    left: 238px;
    top: 73px;
    transform: matrix(1,0,0,1,0,0);
}
#Naked_Label {
    position: absolute;
    width: 42px;
    height: 15px;
    left: 20px;
    top: 99px;
    overflow: visible;
}
#ID138 {
    left: 12px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 31px;
    white-space: nowrap;
    line-height: 14px;
    margin-top: -1.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    color: rgba(255,65,65,1);
}
#DownArrow {
    fill: rgba(255,65,65,1);
}
.DownArrow {
    overflow: visible;
    position: absolute;
    width: 8px;
    height: 10px;
    left: 0px;
    top: 2px;
    transform: matrix(1,0,0,1,0,0);
}
#ID39K {
    left: 20px;
    top: 65px;
    position: absolute;
    overflow: visible;
    width: 57px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(77,79,92,1);
}
#Total_Earnings_dz {
    opacity: 0.5;
    left: 20px;
    top: 20px;
    position: absolute;
    overflow: visible;
    width: 90px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#Referrer {
    position: absolute;
    width: 770px;
    height: 479px;
    left: 335px;
    top: 158px;
    overflow: visible;
}
#BG_d {
    fill: rgba(255,255,255,1);
}
.BG_d {
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
    position: absolute;
    overflow: visible;
    width: 788px;
    height: 497px;
    left: 0px;
    top: 0px;
}
#Show_More_Link {
    left: 29px;
    top: 439px;
    position: absolute;
    overflow: visible;
    width: 61px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: right;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(59,134,255,1);
}
#Table {
    position: absolute;
    width: 730px;
    height: 370px;
    left: 20px;
    top: 64px;
    overflow: visible;
}
#row {
    position: absolute;
    width: 730px;
    height: 325px;
    left: 0px;
    top: 45px;
    overflow: hidden;
}
#row_d {
    position: absolute;
    width: 730px;
    height: 51px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Divider_d {
    fill: rgba(241,241,243,1);
}
.Divider_d {
    position: absolute;
    overflow: visible;
    width: 730px;
    height: 1px;
    left: 0px;
    top: 50px;
}
#RowBG {
    fill: rgba(255,255,255,1);
}
.RowBG {
    position: absolute;
    overflow: visible;
    width: 730px;
    height: 50px;
    left: 0px;
    top: 0px;
}
#ID19291 {
    left: 668px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 43px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: right;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#ID43 {
    left: 510px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 25px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#ID752 {
    left: 390px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 20px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#ID3746 {
    left: 240px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 27px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#googlecom {
    left: 20px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 64px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#row_ed {
    position: absolute;
    width: 730px;
    height: 51px;
    left: 0px;
    top: 52px;
    overflow: visible;
}
#Divider_ee {
    fill: rgba(241,241,243,1);
}
.Divider_ee {
    position: absolute;
    overflow: visible;
    width: 730px;
    height: 1px;
    left: 0px;
    top: 50px;
}
#RowBG_ef {
    fill: rgba(255,255,255,1);
}
.RowBG_ef {
    position: absolute;
    overflow: visible;
    width: 730px;
    height: 50px;
    left: 0px;
    top: 0px;
}
#ID17638 {
    left: 668px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 43px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: right;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#ID32 {
    left: 510px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 25px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#ID728 {
    left: 390px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 20px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#ID8126 {
    left: 240px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 27px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#facebookcom {
    left: 20px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 78px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#row_el {
    position: absolute;
    width: 730px;
    height: 51px;
    left: 0px;
    top: 104px;
    overflow: visible;
}
#Divider_em {
    fill: rgba(241,241,243,1);
}
.Divider_em {
    position: absolute;
    overflow: visible;
    width: 730px;
    height: 1px;
    left: 0px;
    top: 50px;
}
#RowBG_en {
    fill: rgba(255,255,255,1);
}
.RowBG_en {
    position: absolute;
    overflow: visible;
    width: 730px;
    height: 50px;
    left: 0px;
    top: 0px;
}
#ID16218 {
    left: 668px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 43px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: right;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#ID28 {
    left: 510px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 25px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#ID694 {
    left: 390px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 20px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#ID8836 {
    left: 240px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 27px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#twittercom {
    left: 20px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 63px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#row_et {
    position: absolute;
    width: 730px;
    height: 51px;
    left: 0px;
    top: 156px;
    overflow: visible;
}
#Divider_eu {
    fill: rgba(241,241,243,1);
}
.Divider_eu {
    position: absolute;
    overflow: visible;
    width: 730px;
    height: 1px;
    left: 0px;
    top: 50px;
}
#RowBG_ev {
    fill: rgba(255,255,255,1);
}
.RowBG_ev {
    position: absolute;
    overflow: visible;
    width: 730px;
    height: 50px;
    left: 0px;
    top: 0px;
}
#ID14421 {
    left: 668px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 43px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: right;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#ID24 {
    left: 510px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 25px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#ID645 {
    left: 390px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 20px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#ID1173 {
    left: 240px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 27px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#Direct_email_IM {
    left: 20px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 88px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#row_e {
    position: absolute;
    width: 730px;
    height: 51px;
    left: 0px;
    top: 208px;
    overflow: visible;
}
#Divider_e {
    fill: rgba(241,241,243,1);
}
.Divider_e {
    position: absolute;
    overflow: visible;
    width: 730px;
    height: 1px;
    left: 0px;
    top: 50px;
}
#RowBG_e {
    fill: rgba(255,255,255,1);
}
.RowBG_e {
    position: absolute;
    overflow: visible;
    width: 730px;
    height: 50px;
    left: 0px;
    top: 0px;
}
#ID12370 {
    left: 668px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 43px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: right;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#ID20 {
    left: 510px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 25px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#ID539 {
    left: 390px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 20px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#ID2739 {
    left: 240px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 27px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#linkedincom {
    left: 20px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 71px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#row_fa {
    position: absolute;
    width: 730px;
    height: 51px;
    left: 0px;
    top: 260px;
    overflow: visible;
}
#Divider_fa {
    fill: rgba(241,241,243,1);
}
.Divider_fa {
    position: absolute;
    overflow: visible;
    width: 730px;
    height: 1px;
    left: 0px;
    top: 50px;
}
#RowBG_fb {
    fill: rgba(255,255,255,1);
}
.RowBG_fb {
    position: absolute;
    overflow: visible;
    width: 730px;
    height: 50px;
    left: 0px;
    top: 0px;
}
#ID9928 {
    left: 674px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 37px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: right;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#ID18 {
    left: 510px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 25px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#ID432 {
    left: 390px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 20px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#ID1762 {
    left: 240px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 27px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#dribbblecom {
    left: 20px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 74px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#row_fh {
    position: absolute;
    width: 730px;
    height: 51px;
    left: 0px;
    top: 312px;
    overflow: visible;
}
#Divider_fi {
    fill: rgba(241,241,243,1);
}
.Divider_fi {
    position: absolute;
    overflow: visible;
    width: 730px;
    height: 1px;
    left: 0px;
    top: 50px;
}
#RowBG_fj {
    fill: rgba(255,255,255,1);
}
.RowBG_fj {
    position: absolute;
    overflow: visible;
    width: 730px;
    height: 50px;
    left: 0px;
    top: 0px;
}
#ID19291_fk {
    left: 668px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 43px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: right;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#ID43_fl {
    left: 510px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 25px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#ID752_fm {
    left: 390px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 20px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#ID3746_fn {
    left: 240px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 27px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#googlecom_fo {
    left: 20px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 64px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#Head {
    position: absolute;
    width: 730px;
    height: 45px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#HeadBG {
    fill: rgba(245,246,250,1);
}
.HeadBG {
    position: absolute;
    overflow: visible;
    width: 730px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#TOTAL {
    left: 674px;
    top: 14px;
    position: absolute;
    overflow: visible;
    width: 37px;
    white-space: nowrap;
    text-align: right;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(163,166,180,1);
}
#CONVERSION {
    left: 510px;
    top: 14px;
    position: absolute;
    overflow: visible;
    width: 77px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(163,166,180,1);
}
#SALES {
    left: 390px;
    top: 14px;
    position: absolute;
    overflow: visible;
    width: 37px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(163,166,180,1);
}
#VIEWS {
    left: 240px;
    top: 14px;
    position: absolute;
    overflow: visible;
    width: 37px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(163,166,180,1);
}
#LOCATION {
    left: 20px;
    top: 14px;
    position: absolute;
    overflow: visible;
    width: 59px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(163,166,180,1);
}
#Referrer_fw {
    left: 20px;
    top: 21px;
    position: absolute;
    overflow: visible;
    width: 62px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(77,79,92,1);
}
